In [3]:
import pandas as pd

c = pd.read_csv("cointosses.csv")
display(c)

,Unnamed: 0,toss,fake,pierwszy_O,liczba_serii,liczba_O,max_seria,runtest_z,sd10,sum_2max,sum_3max,sum_4max,sum_5max,sum_6max,sum_7max,count_1
0,1,ORRROROOROOOORORROROORRRORORORORROROORRORRROOR...,1,1,60,49,5,1.713364,0.073786,10.0,14.0,18.0,21.0,24.0,27.0,36
1,2,OORORRRROORROROOROROROOOOORRRRORORROOORROORROR...,1,1,52,50,5,0.100509,0.000000,10.0,15.0,19.0,23.0,27.0,31.0,28
2,3,RROOROOOORORORORRROOORROOROROROOOORRORORORRROR...,1,0,56,51,4,0.908968,0.073786,8.0,11.0,14.0,17.0,20.0,23.0,26
3,4,OORRROOORRRORROOROOOORRROROROORORROOORRRRROOOO...,1,1,50,48,5,-0.084564,0.063246,10.0,14.0,18.0,21.0,24.0,27.0,21
4,5,OROROORROROOORRROORRORRROROOROORROORROOOOORORR...,1,1,60,48,5,1.727525,0.091894,9.0,12.0,15.0,18.0,21.0,24.0,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,524,RRROOORRRRORROORRRORROOOOOOOROOOOORRRRORROOORR...,0,0,42,42,7,-1.489879,0.175119,13.0,18.0,23.0,27.0,31.0,35.0,19
524,525,RORROROOOROOOORRRRRORRRORRRORORRROORRRRROOOROR...,0,0,48,44,8,-0.363094,0.134990,14.0,19.0,24.0,28.0,32.0,36.0,27
525,526,ORORRRRORORRRRRRORRROROOOORROOOOOOROROOOOROROO...,0,1,51,47,6,0.000000,0.216282,12.0,17.0,21.0,25.0,29.0,33.0,29
526,527,OORRRRRRRORRRORORRORRRRROOROOOROOORROORORROORR...,0,1,48,46,7,-0.441071,0.171270,13.0,18.0,22.0,26.0,30.0,34.0,22
527,528,OORROOORORRORROOOROROOORROORORORRORRRRRORRRRRR...,0,1,52,43,7,0.303516,0.188856,12.0,17.0,21.0,25.0,29.0,33.0,29

https://en.wikipedia.org/wiki/K-nearest_neighbors_algorithm

Our task is to build a KNN (k-nearest-neighbours) model predicting whether the series is fake or not. 

The features (explanatory variables) should be normalised (standarised) before running the algorithm. 

https://scikit-learn.org/stable/modules/neighbors.html

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split

X = c.drop(columns=["fake", "toss", "Unnamed: 0"])
y = c["fake"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: fake, dtype: int64

In [6]:
X.head()

,pierwszy_O,liczba_serii,liczba_O,max_seria,runtest_z,sd10,sum_2max,sum_3max,sum_4max,sum_5max,sum_6max,sum_7max,count_1
0,1,60,49,5,1.713364,0.073786,10.0,14.0,18.0,21.0,24.0,27.0,36
1,1,52,50,5,0.100509,0.000000,10.0,15.0,19.0,23.0,27.0,31.0,28
2,0,56,51,4,0.908968,0.073786,8.0,11.0,14.0,17.0,20.0,23.0,26
3,1,50,48,5,-0.084564,0.063246,10.0,14.0,18.0,21.0,24.0,27.0,21
4,1,60,48,5,1.727525,0.091894,9.0,12.0,15.0,18.0,21.0,24.0,33

In [16]:
# Split into train and test
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

print(y_train.mean())
print(y_test.mean())

0.5
0.5