In [2]:
import pandas as pd

c = pd.read_csv("cointosses.csv")
display(c)

,Unnamed: 0,input,fake,pierwszy_O,liczba_serii,liczba_O,max_seria,runtest_z,sd10,sum_2max,sum_3max,sum_4max,sum_5max,sum_6max,sum_7max,count_1
0,1,OORORRORRRORROROORORROOOROROORRRORORROOORRROOO...,1,1,68,49,3,3.322157,0.073786,6.0,9.0,12.0,15.0,18.0,21.0,43
1,2,OORROOOROROOOROORRORRORRROORRRROORROROROORROOR...,1,1,56,47,5,0.944197,0.133749,9.0,13.0,16.0,19.0,22.0,25.0,26
2,3,ORROOOROROOROORRRROORORORROORORRROORORROROROOR...,1,1,69,52,4,3.539614,0.078881,8.0,11.0,14.0,17.0,20.0,22.0,46
3,4,ORROROORORROROOORROORROROROOROOORROROROROROROR...,1,1,74,49,3,4.528751,0.056765,6.0,9.0,11.0,13.0,15.0,17.0,51
4,5,OORORRORROROOORORRORORROORRORROORRROROOROROROO...,1,1,68,47,3,3.365216,0.094868,6.0,9.0,12.0,15.0,17.0,19.0,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,252,ORRRORRRORORROOROOOOOROROOOROROROROOOORRRROORR...,0,1,58,57,6,1.533986,0.133749,11.0,16.0,20.0,24.0,28.0,32.0,38
252,253,ORORRRRORRROOOOROOORRRROROROORRRRORRRRRORORORR...,0,1,51,44,5,0.044877,0.142984,10.0,15.0,20.0,24.0,28.0,32.0,30
253,254,OOROOORRRRORRROOOROORORRORORROROOROROORORROORO...,0,1,53,58,5,0.573665,0.113529,9.0,13.0,17.0,21.0,25.0,28.0,25
254,255,OOORRRRRORRROROOOOOOORRORROOROROORRRRROORROOOO...,0,1,46,59,7,-0.598521,0.137032,14.0,20.0,25.0,30.0,35.0,39.0,22
255,256,ORRORORROROOROOOOOORROORRROROOOOORORORORRROORO...,0,1,58,52,6,1.324839,0.181353,11.0,15.0,19.0,22.0,25.0,28.0,32